<nav class="nav-container">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/custom">Custom</a></li>
      <li><a href="/sedan">Sedan</a></li>
      <li><a href="/truck">Truck</a></li>
    </ul>
  </nav>
  